<div>
    <section> <h2>About Me</h2>
        <p> I am <span><b>Panos Evagelidakis</b></span>
            an ambitious software engineer who has a strong interest in 
            data science and machine learning. 
            I have a <span class="text">Bachelor's in Mathematics</span> and am presently working for 
            my <span class="text">Master in Data Science</span>. I have a strong analytical mindset 
            and enjoy finding solutions to problems, which I bring to the tech 
            industry. Through a variety of experiences, such as working at 
            <a href="https://ballista.com/">Ballista Technology Group LLC</a> and being named a <span class="text">Project Future 
            Finalist</span>, I have improved my skills.<br>

            My digital toolkit includes expertise in <span class="text">Python</span> 
            and <span class="text">R</span>, <span class="text">Java </span>and <span class="text">Kotlin </span>
            Android app development, <span class="text">Scala </span>,
            <span class="text">Java </span>, and <span class="text">TypeScript </span>
            Software Engineering and a command of numerous data science and 
            machine learning packages. I'm passionate about data visualization and 
            use programs like <span class="text">Matplotlib</span>, 
            <span class="text">Plotly</span>,<span class="text"> Tableau</span>, and 
            <span class="text">Power BI</span> to create 
            engaging data narratives. Having a strong foundation in <span class="text">SQL</span> and being 
            knowledgeable about data streaming technologies like 
            <span class="text">Apache Kafka</span> and <span class="text">Flink</span>,
            and thanks to them I'm well-equipped to handle complex data challenges.
            
        </p>
    </section>

        <section><h2>Education</h2><br>
        <span><h3>Bachelor of Science Degree in Mathematics (University of Crete)</h3></span> <br>
            <h4><span class="info">Address</span>: Vasilika, Voutes, 70013 Heraklion (Greece) <br>
                <span class="info">Field(s) of study</span>: Natural sciences, mathematics and statistics <br>
                <span class="info">Final grade</span>: 6.74 <br>
                <span class="info">Thesis</span>: Marine Acoustic Signal Analysis in Time-Frequency Domain with Additive Gaussian White Noise. <br><br>
            <p>After my training on the academic fundamentals of mathematics (Calculus, Introduction Real Analysis, Abstract
            and Linear Algebra, Probability Theory, Differential Equations, Complex Numbers and Learning to code in Python
            Programming Language) I had the opportunity to gain more experience on the domains of Complex Analysis,
            Numerical Analysis, Acoustic Oceanography, Ordinary Differential Equations, Number theory, Group Theory,
            Euclidean and Non-Euclidean Geometry and Applied Algebra. Then, I focused on Parametric and Applied Statistics
            where I was blessed by the chance to get a generalised idea of decision making, data mining, data cleaning and
            hypothesis testing.</p></h4> <br>
        <span><h3>Master of Science in Data Analysis and Machine Statistical Learning (University of Crete)</h3></span> <br>
            <h4><span class="info">City</span>: Vasilika, Voutes 70013 Heraklion (Greece)<br>
                <span class="info">Field(s) of study</span>: Natural sciences, mathematics and statistics <br><br>
                <p>
                    Data Structures, Probability Theory, and Numerical Algorithms are the first topics we explore. 
                    Following this crucial step, we basically continue studying <span class="info">Mathematical and Computational 
                    Statistics</span> and introduce ourselves to <span class="info">Data Science</span> and <span class="info">Machine Learning</span>. 
                    Next, my goal is to explore <span class="info">Information Theory</span> and <span class="info">Information Retrieval</span>,
                    <span class="info"> Big Data Analytics</span>, 
                    <span class="info">Advanced Machine Learning</span>, and <span class="info">Data Science Theory</span>,
                    provided that <span class="info">Time Series Analysis</span> and <span class="info">Optimization Theory</span> is laid out. 
                </p>
            </h4>

        </section>
        <section><h2>Work experience</h2>
            <span><h3>Ballista Technology Group (June 2022 - August 2023)</h3></span> <br>
        
        
        </section>
        <section><h2>Digital skills</h2></section>
        <section><h2>Honours/Awards</h2></section>
</div>
