<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
  <header class="hero">
    <nav>
      <logo class="logo"></logo>
      <ul class="nav nav-tabs m-4">
        <li class="nav-items"><a href="/" class="nav-link" active>Home</a></li>
        <li class="nav-items"><a href="/about-me" class="nav-link">About Me</a></li>
        <li class="nav-items"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-items"><a href="/portfolio" class="nav-link">Portfolio</a></li>
      </ul>
    </nav>  
  </header>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p class="invitation">Reach out to me</p>
    <p>pevagelidakis@athtech.gr</p>
    <p class="copyright">Copyright &copy; 2023 by Panos Evagelidakis. All Rights Reserved.</p>
  </footer>
</body>