<body>
  <header class="hero">
    <nav>
      <logo class="logo"></logo>
      <ul class="nav m-4">
        <li class="nav-items"><a routerLink="/" class="nav-link" active>Home</a></li>
        <li class="nav-items"><a routerLink="/about-me" class="nav-link">About Me</a></li>
        <li class="nav-items"><a routerLink="/portfolio" class="nav-link">Portfolio</a></li>
        <li class="nav-items"><a routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>  
  </header>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p class="invitation">Reach out to me</p>
    <p>pevagelidakis@athtech.gr</p>
    <p class="copyright">Copyright &copy; 2023 by Panos Evagelidakis. All Rights Reserved.</p>
  </footer>
</body>