body {
    height: 100%; 
    width: 100%
}
body {
    margin: 0; 
    font-family: "New Times Roman", sans-serif; 
    background: url('assets/images/pixlr-nn.jpg') fixed;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat ;}

