<div class="introduction">
    <div class="socials">
        <div class="social">
            <a href="https://www.linkedin.com/in/pevagelidakis/">
                <svg class="business-app"xmlns="http://www.w3.org/2000/svg"  fill="rgb(6,102,194)" viewBox="0 0 24 24">
                    <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                </svg>
            </a>
        </div>
        <div class="social">
            <a href="https://github.com/pevagelidakis">
                <svg class="business-app" xmlns="http://www.w3.org/2000/svg"  fill="" viewBox="0 0 24 24">
                    <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                </svg>
            </a>
        </div>
        <div class="social kaggle">
            <a href="https://www.kaggle.com/pevagelidakis">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="rgb(6,102,194)" viewBox="0 0 320 512">
                    <!-- Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M304.2 501.5L158.4 320.3 298.2 185c2.6-2.7 1.7-10.5-5.3-10.5h-69.2c-3.5 0-7 1.8-10.5 5.3L80.9 313.5V7.5q0-7.5-7.5-7.5H21.5Q14 0 14 7.5v497q0 7.5 7.5 7.5h51.9q7.5 0 7.5-7.5v-109l30.8-29.3 110.5 140.6c3 3.5 6.5 5.3 10.5 5.3h66.9q5.25 0 6-3z"/>
                </svg>
            </a>
        </div>
        <div class="social">
            <a href="https://public.tableau.com/app/profile/panos.evagelidakis">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"  viewBox="0 0 48 48">
                    <rect width="1.5" height="9" x="22.75" y="1" fill="#78909c"></rect>
                    <rect width="9" height="1.5" x="19" y="4.75" fill="#78909c"></rect>
                    <rect width="1.5" height="9" x="40.75" y="19" fill="#5c6bc0"></rect>
                    <rect width="9" height="1.5" x="37" y="22.75" fill="#5c6bc0"></rect>
                    <rect width="1.5" height="9" x="4.75" y="19" fill="#78909c"></rect>
                    <rect width="9" height="1.5" x="1" y="22.75" fill="#78909c"></rect>
                    <rect width="1.5" height="9" x="22.75" y="37" fill="#5c6bc0"></rect>
                    <rect width="9" height="1.5" x="19" y="40.75" fill="#5c6bc0"></rect>
                    <rect width="17" height="3" x="15" y="22" fill="#e8762d"></rect>
                    <rect width="3" height="17" x="22" y="15" fill="#e8762d"></rect>
                    <rect width="2" height="14" x="11" y="6" fill="#ffa000"></rect>
                    <rect width="14" height="2" x="5" y="12" fill="#ffa000"></rect>
                    <rect width="2" height="14" x="34" y="6" fill="#607d8b"></rect>
                    <rect width="14" height="2" x="28" y="12" fill="#607d8b"></rect>
                    <rect width="2" height="14" x="11" y="27" fill="#c62828"></rect>
                    <rect width="14" height="2" x="5" y="33" fill="#c62828"></rect>
                    <rect width="2" height="14" x="34" y="27" fill="#0d47a1"></rect>
                    <rect width="14" height="2" x="28" y="33" fill="#0d47a1"></rect>
                </svg>
            </a>
        </div>
        <div class="powerbi">
            <a href="https://app.powerbi.com/links/LdRfCTBbIu?ctid=b1732512-60e5-48fb-92e8-8d6902ac1349&pbi_source=linkShare">
                <img src="../../assets/images/power-bi.png">
            </a>
        </div>
    </div>
    <div class="greetings">
        <h1>Hey, I'm <span>Panos</span>!</h1>
        <p class="introduce">I 'm a 
            <ngx-typed-js [strings]="['Software Engineer', 'Master Student','Graduate Mathematician', 'Project Future Finalist']" [typeSpeed]= "50" [backDelay]="500" [loop]="true" [showCursor]="true" >
                <span class="typing"></span>
            </ngx-typed-js>
        </p>
        <a routerLink="/about-me"><button class="btn btn-secondary">About me</button></a>
    </div>

    <div class="headshot-container">
        <img class="headshot" src="../../assets/images/headshot.png" alt="Panos Evagelidakis headshot">
    </div>
    
</div>